body {
    background-color:#921e21;
    color:;
}
main {
   background-color:#b42e30;
}
#encabezado {
    background-color:#b42e30;
    margin-top: 20px
}
#pie {
    background-color: #b42e30;
}
#nombre {
    color:white;
    margin-left: 25px;
    font-family: 'Caveat', cursive;
}
#titulo {
    color: white;
    position: absolute;
}
#opciones {
    margin-right: 20px;
    margin-top: 10px;
}
#imagenes {
    padding: 20px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}
#info {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 25px;
}
#cuerpo img {
    width: 100%;
}
#texto {
    font-size: 25px;
    font-family: 'Caveat', cursive;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: white;
}
.texto-drawins {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: white ;
    font-family: 'Caveat', cursive;
}
#cuerpoproyect {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 20px;
}
#dibujo1 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 75px;
}
.subtitulo {
  position: absolute;
}
