body {
    background-color: rgb(0, 0, 0);
    color: white;
}

#nombre {
    color: white;   
    margin-left: 20px;
}
#titulo {
    position: absolute;
    margin-top: 20px;
    margin-left: 500px;
}
#opciones {
    margin-right: 20px;
}
#subtitulo {
    margin-left: 500px;
}
footer {
    color: white;
}

#imagenes {
    padding: 30px;
}