body {
    background-color: rgb(0, 0, 0);
    color: white;
}

#nombre {
    color: white;   
}

h3 {
    position: absolute;
    margin-left: 550px;
} 

footer {
    color: white;
}












p {
    margin-left: 150px;
    margin-right: 150px;
}